<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilePQI"
        tools:targetApi="31">
        <activity
            android:name=".ui.dosen.menusilabus.DosenSilabusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menusilabus.MahasiswaSilabusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lupapassword.LupaPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.activity.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menuqiroah.MahasiswaMateriQiroahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menuqiroah.MahasiswaMateriDetailQiroahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menuibadah.MahasiswaMateriIbadahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menuibadah.MahasiswaMateriDetailIbadahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menuqiroah.DosenMateriQiroahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menuqiroah.DosenMateriDetailQiroahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menuibadah.DosenMateriIbadahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menuibadah.DosenMateriDetailIbadahActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menutugas.MahasiswaTugasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menutugas.MahasiswaDetailTugasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mahasiswa.menutugas.MahasiswaTugasFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenBuatEditTugasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenTugasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenTugasFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenDetailTugasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenCekTugasMahasiswaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dosen.menutugas.DosenBeriNilaiTugasMahasiswaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signin.SigninActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splashscreen.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profil.ProfileInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pengaturan.ProfilPengaturanBahasaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kelas.daftarkelas.DaftarKelasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kelas.buatkelas.BuatKelasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kelas.detailkelas.DetailKelasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kelas.tambahdosen.TambahDosenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>